<!-- El [class.completed] se asignará al elemento li si todo.completado es igual a true. El # es una referencia local en Angular. El blur es cuando se pierde el foco en la caja de texto de algún input -->
<li 
    [class.completed]="todo.completado"
    [class.editing]="editando">
    <div class="view">
      <input 
      class="toggle" 
      type="checkbox"
      [formControl]="checkCompletado">

      <label (dblclick)="editarTodo()">{{ todo.texto }}</label>
      <button 
        class="destroy"
        (click)="borrarTodo()"
      ></button>
    </div>
    <input 
          class="edit"
          type="text"
          [formControl]="txtEditar"
          #txtInputHtml
          (blur)="terminarEdicion()">
</li>